.cx-1{
    background: orange;
}

.cx-2{
background: orchid;
}

.cx-3{
background: yellow;
}

.cx-4{
    background: aqua;
}

.cx-5{
background: aqua;
}

.cx-6{
background: aqua;
}

.cx-7{
    background:red;
}

.cx-8{
background: red;
}




.cx-principal{
    margin-top: 5%;
    background: gray;
    height: 80%;
}

.cx-principal2{
    background: black;
}